// Grayscale
$black:       #000;
$gray:        #484c51;
$gray-medium: #787f87;
$gray-light:  #f3f3f3;
$light:       #f8fafc;
$white:       #fff;

// brand
$primary:   pink;
$secondary: red;
$tertiary:  yellow;